**/*.xlsx
**/*.txt
!requirements.txt
!requirements_server.txt
**/__pycache__
**/*.pyc
**/*.ttf
**/*.db
**/*.ipynb
**/fyw_secrets.py
**/*.sqlite3
**/logs
**/build
**/dist
**/*.spec
**/*.pdf
**/.env
**/.env_dev
**/.env_prod
**/*.bat
**/.saves
