{% extends 'cws/base.html' %}
{% block content %}

<div class="container mx-auto">
  <form method="POST">
  {% csrf_token %}
  <div class="row mx-md-auto mr-sm-5 mw-md-100 justify-content-end justify-content-xl-center">
    <div class="mb-2 ml-2 me-md-auto">
      <a href="{% url 'cws:index' %}"><button type="button" class="btn btn-warning" value="New Board">New Board</button></a>
      <button type="button" id="print_button" class="btn btn-warning" value="Print Board" onclick="callPrintView();">Print Board</button>
    </div>
    <div class="mb-2 ml-2 ml-sm-5 ml-md-auto">
      Save Board:<span class="d-inline d-sm-none"><br></span>
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Text Grid">
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Excel Grid">
    </div>
    <div class="mb-2 ml-2 ml-sm-5 ml-md-auto">
      Save Key:<span class="d-inline d-sm-none"><br></span>
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Text Key">
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Excel Key">
      <input type="hidden" id="font_style" name="font_style" value="{{ font_style }}">
      <input type="hidden" id="list_position" name="list_position" value="left">
    </div>
  </div>
  </form>
</div>
<p></p>
<div class="container game_name">
  <h3 class="mb-0">{{ wc }}</h3>
  <span class="word_list_position ml-1">Word List Position: </span>
  <span class="d-sm-none"><br></span>
  <span class="ml-3 ml-sm-0">
    <input type="radio" id="position_left" name="position_selector" value="left" checked onclick="boardPosition(this.value)">
    <label for="position_left">Left&nbsp;</label>
    <input type="radio" id="position_right" name="position_selector" value="right" onclick="boardPosition(this.value)">
    <label for="position_right">Right&nbsp;</label>
    <input type="radio" id="position_top" name="position_selector" value="top" onclick="boardPosition(this.value)">
    <label for="position_top">Top&nbsp;</label>
    <input type="radio" id="position_bottom" name="position_selector" value="bottom" onclick="boardPosition(this.value)">
    <label for="position_bottom">Bottom&nbsp;</label>
  </span>
</div>

<div class="container">
    <div id="game_container_lr" class="row">
      <div id="word_list_container_lr" class="col-2 d-flex">
        <div class="row ml-1 w-100 align-self-start">
          <h6 class="game_name w-100">Your Words:</h6>
          <span>
            {% for word in word_list %}
            {{ word }} <br>
            {% endfor %}
            <p></p>
          </span>
        </div>
      </div>

      <div id="board_container_lr" class="col-10 game_board d-flex justify-content-center">
        {% for item in grid_map_template %}
          {{ item|safe }}
        {% endfor %}
       </div>
    </div>

    <div id="game_container_tb" class="col flex-column d-none">
        <div id="word_list_container_tb" class="row w-100 d-flex">
          <div class="row w-100 ml-1 align-self-start">
            <h6 class="game_name w-100">Your Words:</h6>
          </div>
          <div class="row ml-1 w-100">
            <div class="col-4 mb-3">
              {% for word in word_list %}
                {{ word }}<br>
                {% if forloop.counter|divisibleby:list_split %}
                  {% if not forloop.last %}
                    </div>
                    <div class="col-4 mb-2">
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
      </div>

      <div id="board_container_tb" class="row game_board mb-2 justify-content-center">
        {% for item in grid_map_template %}
          {{ item|safe }}
        {% endfor %}
       </div>
    </div>
</div>

{% endblock %}