{% extends 'cws/base.html' %}
{% block content %}

<div class="container mx-auto">
  <form method="POST">
  {% csrf_token %}
  <div class="row mx-auto justify-content-sm-end justify-content-xl-center">
    <div class="my-2 ml-2 me-lg-auto">
      <a href="{% url 'cws:index' %}"><button type="button" class="btn btn-warning" value="New Board">New Board</button></a>
      <button type="button" id="print_button" class="btn btn-warning" value="Print Board" onclick="callPrintView();">Print Board</button>
    </div>
    <div class="my-2 ml-5">
      Save Board:
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Text Grid">
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Excel Grid">
    </div>
    <div class="my-2 ml-5">
      Save Key:
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Text Key">
      <input type="submit" class="btn btn-warning board_options" name="submit" value="Excel Key">
      <input type="hidden" id="font_style" name="font_style" value="{{ font_style }}">
    </div>
  </div>
  </form>
</div>
<p></p>
<div class="container game_name">
<h3>{{ wc }}</h3>
</div>
<div class="container">
    <div class="row">
      <div class="col-2">
        <h6 class="game_name">Your Words:</h6>
        {% for word in word_list %}
        {{ word }} <br>
        {% endfor %}
        <p></p>

      </div>


      <div class="col-10 game_board" align="center">

        {% for item in grid_map_template %}
        {{ item|safe }}
        {% endfor %}

       </div>
    </div>
</div>


{% endblock %}