<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CDN Bootstrap Javascript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Custom Font from fonts.google.com -->

    <link rel="stylesheet" href="{% static 'css/word_search.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet"> -->


</head>
<body>


<div class="container game_name mb-4">
<h2>Find Your Words:&nbsp;{{ wc }}</h2>
</div>
<br>
<div class="container board_font_{{ font_style }}">
    <div class="{% if list_position in 'top bottom' %}col-12 d-flex flex-column{% else %}row{% endif %}">
      <div class="{% if list_position in 'right left' %}col-2{% else %}row{% endif %} order-{% if list_position == 'right' %}2{% elif list_position == 'bottom' %}2 w-100 mt-4 mx-2{% else %}1 {% if list_position == 'top' %}w-100 mb-4 mx-2{% endif %}{% endif %}">
        {% if list_position in 'left right' %}
          <h5 class="game_name">Your Words:</h5>
          <div class="word_list">
            {% for word in word_list %}
              {{ word }}<br>
            {% endfor %}
          </div>
        {% else %}
          {% if list_position in 'top bottom' %}
            <div class="container">
          {% endif %}
          <div class="row w-100 order-{% if list_position == 'top' %}1{% else %}2{% endif %}">
            <h5 class="game_name">Your Words:</h5>
          </div>
          <div class="row w-100 word_list order-{% if list_position == 'top' %}2{% else %}3{% endif %}">
            <div class="col-4">
              {% for word in word_list %}
                {{ word }}<br>
                {% if forloop.counter|divisibleby:list_split %}
                  </div>
                  <div class="col-4">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% if list_position in 'top bottom' %}
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="{% if list_position in 'right left' %}col-10{% else %}row{% endif %} order-{% if list_position in 'right bottom' %}1 w-100{% elif list_position == 'top' %}3 w-100{% else %}2{% endif %} d-flex justify-content-center">
        {% if grid_size >= 45 %}
          <div class="game_board print_45">
        {% elif grid_size >= 35 %}
          <div class="game_board print_35">
        {% elif grid_size >= 25 %}
          <div class="game_board print_25">
        {% elif grid_size >= 15 %}
          <div class="game_board print_15">
        {% else %}
          <div class="game_board print_0">
        {% endif %}

          {% for item in grid_map_template %}
          {{ item|safe }}
          {% endfor %}

          </div>
      </div>
    </div>
</div>
</body>
<script type="text/javascript">
    window.onload = function() { window.print(); }
</script>
