h1 {
    color: orange;
}
.board_font_serif {
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
    font-style: normal;
    font-variant-ligatures: none;
}

.board_font_sans_serif {
    font-family: 'Overpass Mono', 'sans-serif';
    font-style: normal;
    font-variant-ligatures: none;
}

.board_options {
    /* width: 105px; */
}

.center {
    text-align: center;
}

#font_field {
    color: orange;
    margin-top: 1em;
    float: right;
}

@media (min-width: 578px) {
    #font_field {
        margin-top: 3em;
    }
}

.font_serif {
    font-family: 'Cutive Mono', monospace;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: -1px;
    font-variant-ligatures: none;
}

.font_sans_serif {
    font-family: 'Overpass Mono', 'sans-serif';
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-variant-ligatures: none;
}

.game_board {
    align-items: center;
    align-content: center;
    /* font-family: 'Overpass Mono', 'sans-serif'; */
    /* line-height: .8em; */
    letter-spacing: .05em;
}

.game_name {
    font-variant: small-caps;
    color: orange;
}

.grid {
    text-align: center;
}

#print_button:hover {
    cursor: pointer;
}

.print_0 {
    font-size: 2.0em;
    line-height: 1.4em;
    letter-spacing: .8em;
}

.print_15 {
    font-size: 1.8em;
    line-height: 1em;
    letter-spacing: .4em;
}

.print_25 {
    font-size: 1.6em;
    line-height: .9em;
    letter-spacing: .14em;
}

.print_35 {
    font-size: 1.4em;
    line-height: .9em;
    letter-spacing: .08em;
}

.print_45 {
    font-size: 1.2em;
    line-height: .8em;
    letter-spacing: .08em;
}

.warning {
    color: red;
    font-size: 1.1em;
}

.word_list {
    font-size: 1.2em;
    /* line-height: 1em; */
    /* letter-spacing: .8em; */
}
